<!DOCTYPE html>
<html>

<head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="./images/flower-icon.png"/>
    <link rel="stylesheet" type="text/css" href="./vendor/normalize.css">
    <link rel="stylesheet" type="text/css" href="./styles/main.css">
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
</head>

<body class="content">

<%- include(`partials/header`); %>

<main class="main">

    <!-- INSERT CODE HERE -->

    <!-- <div class="item-view">
        <img class="item-view-image" src=" ... "></img>
        <div class="item-view-text">
            <div class="item-view-text-title font-secondary main-color-emphasized"> ... </div>
            <hr>
            <div class="item-view-text-property main-color"> ... <span class="item-view-text-value"> ... </span></div>
            <div class="item-view-text-desc font-secondary main-color"> ... </div>
        </div>
    </div> -->

</main>

<%- include(`partials/footer`); %>

</body>

</html>
